mat-toolbar {
    background: #00aeff;
    color: #fff;
}
img {
  margin-right: 0.5%;
  margin-top: 0%;
  width: 3%;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.link {
  font-size: 19px;
}